//typography variables
$Gibson-Regular: 'Gibson-Regular';
$Gibson-Light: 'Gibson-Light';
$Gibson-SemiBold: 'Gibson-Semibold';
$EBGaramond08-Regular: 'EBGaramond08-Regular';
$HKGrotesk-Regular: 'HKGrotesk-Regular';

//colors
$dim-gray: #707070;
$deep-sky-blue: #00c7f7;
$eastern-blue: #008aaa;
$black: #000000;
$gray: #808080;
$white: #FFFFFF;
$echo-blue: #b7bbc7;
$white-smoke: #f7f7f7;
$solitude: #f5f7fc;
$de-york: #7adb9a;
$outrageous-orange: #ff5c3e;
$whisper: #e8e8e8;
$cloudy-blue: #d0e2ed;
$grey-chateau: #9ea9b1;
