//typography variables
$Gibson-Regular: 'Gibson-Regular';
$Gibson-Light: 'Gibson-Light';
$Gibson-SemiBold: 'Gibson-Semibold';
$EBGaramond08-Regular: 'EBGaramond08-Regular';
$HKGrotesk-Regular: 'HKGrotesk-Regular';

//colors
$dim-gray: #707070;
$deep-sky-blue: #00c7f7;
$eastern-blue: #008aaa;
$black: #000000;
$gray: #808080;
$white: #FFFFFF;
$gainsboro:#DDDDDD;
$safety-orange: #FF7700
$gold: #FFD700;
$orange: #EEAA00;
$echo-blue: #b7bbc7;
$white-smoke: #f7f7f7;
$solitude:#f5f7fc;