@font-face {
  font-family: "Gibson-Regular";
  src: url(../fonts/Gibson-Regular.ttf);
}
@font-face {
  font-family: "Gibson-Light";
  src: url(../fonts/Gibson-Light.otf);
}
@font-face {
  font-family: "Gibson-SemiBold";
  src: url(../fonts/Gibson-SemiBold.otf);
}
@font-face {
  font-family: "EBGaramond08-Regular";
  src: url(../fonts/EBGaramond08-Regular.ttf);
}
@font-face {
  font-family: "HKGrotesk-Regular";
  src: url(../fonts/HKGrotesk-Regular.otf);
}
/* line 1, ../sass/pages/sections.scss */
hr {
  padding-top: 19px;
}

/* line 4, ../sass/pages/sections.scss */
.section1 {
  padding: 20px 20px 20px 20px;
}

/* line 7, ../sass/pages/sections.scss */
.fa-bell {
  margin-right: 20px;
}

/* line 10, ../sass/pages/sections.scss */
.fa-inbox {
  margin-right: 20px;
}

/* line 13, ../sass/pages/sections.scss */
.fa-caret-down {
  margin-right: 20px;
}

/* line 18, ../sass/pages/sections.scss */
.search .search-box {
  font-family: "Gibson-Light", sans-serif;
  border: none;
  width: 659px;
  height: 42px;
  border-radius: 20px;
  border: solid 1px #f5f7fc;
  background-image: linear-gradient(to left, #f5f7fc, #f5f7fc);
}

/* line 32, ../sass/pages/sections.scss */
.section4 .col-md-7 .para {
  font-family: "HKGrotesk-Regular", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--charcoal-grey);
}

/* line 45, ../sass/pages/sections.scss */
.mini-title {
  font-family: "Gibson-Regular", sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.42;
  letter-spacing: 0.7px;
  color: #707070;
}

/* line 55, ../sass/pages/sections.scss */
.mini-title2 {
  font-family: "Gibson-Regular", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #00c7f7;
}

/* line 66, ../sass/pages/sections.scss */
.hours {
  font-family: "Gibson-Light";
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #9ea9b1;
}

/* line 75, ../sass/pages/sections.scss */
.hours1 {
  margin-left: 8px;
  font-family: "Gibson-Light";
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #9ea9b1;
}

/* line 85, ../sass/pages/sections.scss */
.hours2 {
  margin-left: 58px;
  font-family: "Gibson-Light";
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #9ea9b1;
}

/* line 95, ../sass/pages/sections.scss */
.names {
  font-family: "Gibson-Regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.4px;
  margin-bottom: 0px;
  color: #707070;
}

/* line 106, ../sass/pages/sections.scss */
.names-section4 {
  margin-left: 61px;
  font-family: "Gibson-Regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.4px;
  color: #707070;
}

/* line 117, ../sass/pages/sections.scss */
.names-section4A {
  margin-bottom: 0px;
  margin-left: 9px;
  font-family: "Gibson-Regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.4px;
  color: #707070;
}

/* line 129, ../sass/pages/sections.scss */
.hashtag {
  font-family: "Gibson-Regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.4px;
  color: #008aaa;
}

/* line 139, ../sass/pages/sections.scss */
.nav-nav {
  padding-top: 42px;
}

/* line 142, ../sass/pages/sections.scss */
.nav-nav1 {
  padding-top: 19px;
  padding-left: 20px;
}

/* line 146, ../sass/pages/sections.scss */
.avatar {
  border-radius: 30px;
  margin-right: 20px;
}

/* line 150, ../sass/pages/sections.scss */
.nav-link {
  margin-right: 64px;
  font-family: "Gibson-Regular", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #000000;
}

/* line 165, ../sass/pages/sections.scss */
.col-md-4 .nav-profpic .avatar {
  width: 36px;
  height: 36px;
}

/* line 171, ../sass/pages/sections.scss */
.section2 {
  padding: 20px 20px 20px 20px;
}

/* line 174, ../sass/pages/sections.scss */
.section3 {
  padding: 5px 68px 0 3px;
}

/* line 177, ../sass/pages/sections.scss */
.section3-a {
  font-family: "Gibson-Regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.4px;
  text-align: left;
  color: #808080;
}

/* line 188, ../sass/pages/sections.scss */
.section3-sub1 {
  padding: 20px 20px 20px 20px;
}

/* line 191, ../sass/pages/sections.scss */
.section3-sub2 {
  margin-top: 11px;
  padding: 20px 20px 20px 20px;
}

/* line 195, ../sass/pages/sections.scss */
.section3-button {
  color: #FFFFFF;
  width: 184px;
  height: 48px;
  border-radius: 2px;
  border: solid 1px #00c7f7;
  background-color: #00c7f7;
}

/* line 204, ../sass/pages/sections.scss */
.button-section3 {
  margin-bottom: 66px;
}

/* line 207, ../sass/pages/sections.scss */
.section4 {
  padding-bottom: 80px;
}

/* line 210, ../sass/pages/sections.scss */
.checked {
  color: #ff5c3e;
}

/* line 213, ../sass/pages/sections.scss */
.unchecked {
  color: #e8e8e8;
}

/* line 217, ../sass/pages/sections.scss */
.fluffsquad-section4 {
  margin-left: 70px;
  border-radius: 30px;
  width: 40px;
  height: 40px;
}

/* line 223, ../sass/pages/sections.scss */
.recent {
  font-family: "Gibson-Regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 1.4px;
  color: var(--silver);
}

/* line 234, ../sass/pages/sections.scss */
.side-littleavatar {
  border-radius: 30px;
  width: 20px;
  height: 20px;
}

/* line 239, ../sass/pages/sections.scss */
.section4-side {
  background-color: #FFFFFF;
  width: 142px;
  height: 39px;
  border-radius: 4px;
  border: solid 1px #00c7f7;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #00c7f7;
}

/* line 253, ../sass/pages/sections.scss */
.star-design {
  padding-top: 20px;
  padding-left: 20px;
}

/* line 257, ../sass/pages/sections.scss */
.section4-sidecomment {
  margin-top: 32px;
  width: 399px;
  height: 37px;
  border-radius: 20px;
  border: solid 1px #f5f7fc;
  background-color: #FFFFFF;
  font-family: Gibson;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #b7bbc7;
}

/* line 273, ../sass/pages/sections.scss */
.side-hashtag {
  font-family: "Gibson-Regular", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #008aaa;
}

/* line 283, ../sass/pages/sections.scss */
.fa-heart {
  margin-right: 10px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #008aaa;
}

/* line 294, ../sass/pages/sections.scss */
.fa-share-alt {
  margin-right: 10px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #008aaa;
}

/* line 305, ../sass/pages/sections.scss */
.fa-bookmark {
  margin-right: 10px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #008aaa;
}

/* line 316, ../sass/pages/sections.scss */
.designinstruct {
  width: 606px;
  height: 262px;
}

/* line 320, ../sass/pages/sections.scss */
.books {
  padding-bottom: 50px;
  height: 331px;
  width: 190px;
}

/* line 325, ../sass/pages/sections.scss */
.fluffsquad {
  border-radius: 30px;
  width: 40px;
  height: 40px;
}

/* line 330, ../sass/pages/sections.scss */
.section4-sub1 {
  padding: 20px 20px 20px 20px;
}

/* line 333, ../sass/pages/sections.scss */
.side-pic1 {
  padding-top: 20px;
}

/* line 336, ../sass/pages/sections.scss */
.side-comment {
  padding-bottom: 49px;
  font-family: "HKGrotesk-Regular", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--charcoal-grey);
}

/* line 347, ../sass/pages/sections.scss */
.side-comment1 {
  padding-bottom: 53px;
  padding-top: 17px;
  font-family: "HKGrotesk-Regular", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--charcoal-grey);
}

/* line 359, ../sass/pages/sections.scss */
.side-comment2 {
  padding-top: 40px;
  font-family: "HKGrotesk-Regular", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--charcoal-grey);
}

/* line 370, ../sass/pages/sections.scss */
.side-recent {
  padding: 6px 0px 20px 20px;
}

/* line 373, ../sass/pages/sections.scss */
.side-pic {
  padding-bottom: 29px;
  padding-top: 49px;
}

/* line 377, ../sass/pages/sections.scss */
.section7 {
  padding-bottom: 80px;
}

/* line 380, ../sass/pages/sections.scss */
.section7-images {
  padding-bottom: 20px;
  width: 263px;
  height: 281px;
  border-radius: 2px;
}

/* line 387, ../sass/pages/sections.scss */
.section7-content {
  width: 300px;
  height: 41px;
  font-family: "EBGaramond08-Regular", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--charcoal-grey);
}

/* line 399, ../sass/pages/sections.scss */
.section8 {
  padding-bottom: 80px;
}

/* line 402, ../sass/pages/sections.scss */
.section11 {
  padding-bottom: 200px;
}

/* line 405, ../sass/pages/sections.scss */
.section11-images {
  margin: 33px 19px 15px 27px;
  width: 187.4px;
  height: 284.8px;
}

/* line 410, ../sass/pages/sections.scss */
.section11-price {
  border: none;
  width: 74px;
  height: 28px;
  border-radius: 30px;
  background-color: #7adb9a;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.4px;
  color: #FFFFFF;
}

/* line 424, ../sass/pages/sections.scss */
.section11-img1 {
  right: 18px;
  left: 25px;
  bottom: 29px;
  z-index: 1;
  position: absolute;
}

/* line 431, ../sass/pages/sections.scss */
.section11-img {
  margin: 19px 2px 6px 10px;
}

/* line 434, ../sass/pages/sections.scss */
.fluffsquad-section11 {
  border-radius: 30px;
  width: 40px;
  height: 40px;
}

/* line 439, ../sass/pages/sections.scss */
.bold {
  font-family: "Gibson-Semibold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.5px;
  color: #707070;
}

/* line 449, ../sass/pages/sections.scss */
.rectangle {
  width: 258.4px;
  height: 424.5px;
  box-shadow: 0 3px 6px 0 rgba(227, 227, 227, 0.16);
  border: solid 1px #f7f7f7;
  background-color: #FFFFFF;
}

/* line 456, ../sass/pages/sections.scss */
.rectangle1 {
  width: 263.4px;
  height: 378.9px;
  opacity: 0.1;
  background-color: #FFFFFF;
}

/* line 462, ../sass/pages/sections.scss */
.animated {
  left: 49px;
  top: 154px;
  z-index: 1;
  position: absolute;
}

/* line 468, ../sass/pages/sections.scss */
.viewdetails {
  font-family: "Gibson-Regular", sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #008aaa;
}

/* line 478, ../sass/pages/sections.scss */
.buynow {
  font-size: 18px;
  font-family: "Gibson-Regular", sans-serif;
  width: 206px;
  height: 58px;
  border-radius: 4px;
  color: #FFFFFF;
  border: solid 1px #00c7f7;
  background-color: #00c7f7;
}

/* line 488, ../sass/pages/sections.scss */
.ellipse {
  color: #d0e2ed;
  right: 280px;
  bottom: 188px;
  z-index: 1;
  position: absolute;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  box-shadow: 0 3px 10px 0 rgba(22, 65, 101, 0.16);
  background-color: #FFFFFF;
}

/* line 500, ../sass/pages/sections.scss */
.ellipse1 {
  color: #d0e2ed;
  left: 281px;
  bottom: 188px;
  z-index: 1;
  position: absolute;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  box-shadow: 0 3px 10px 0 rgba(22, 65, 101, 0.16);
  background-color: #FFFFFF;
}

/* line 512, ../sass/pages/sections.scss */
.fa-angle-left {
  margin-top: 9px;
}

/* line 515, ../sass/pages/sections.scss */
.fa-angle-right {
  margin-top: 9px;
}
